.pay {
  position: relative;
  &-circle {
    width: 975px;
    height: 975px;
    border-radius: 975px;
    background-color: #F8F8F8;
    position: absolute;
    left: 50%;
    top: -29%;
    transform: translateX(-50%);
  }
  &-logo {
    width: 121px;
    height: 64px;
    margin: 10px auto 44px;
    //background-color: #ff6600;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: -40%;
    background-image: url("../../assets/icon/xd-org.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &-container {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    width: 316px;
    height: 322px;
    background-color: #fff;
    border-radius: 24px;
  }
  &-wrap {
    top: 56%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
  }
  &-qr {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 234px;
    height: 234px;
    &-tips {
      font-size: 14px;
      position: absolute;
      line-height: 20px;
      top: -24px;
      width: 100%;
      text-align: center;
      color: #cbcbcb;
    }
    &-code {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
}
