.limit-submit-btn {
  height: 54px;
  background: linear-gradient(245deg, #ff9f00, #ff6600);
  border-radius: 35px;
  margin: -54px 13px 20px;
  color: #fff;
  font-size: 20px;
  line-height: 54px;
  width: auto;
  box-shadow: rgba(255, 98, 0, 0.36) 0 8px 20px;
}
