.top-date {
  position: relative;
  white-space: nowrap;
  transition: transform 0.45s ease-in-out;
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  &_slide-wrap {
    height: 75px;
    width: 100%;
    display: inline-block;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &_content {
    width: 22px;
    height: 22px;
    &_disable {
      .top-date_content-text {
        color: #cccccc;
      }
    }
    &-weekday {
      margin-bottom: 14px;
      height: 17px;
      line-height: 17px;
      font-size: 12px;
      color: #999999;
    }
    &-date {
      font-size: 16px;
      font-weight: 500;
      height: 22px;
      line-height: 22px;
      position: relative;
    }
    &-circle {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 38px + 14px;
      transition: transform 0.3s cubic-bezier(0.29, 0.6, 0.49, 1.18);
      &.close-animation {
        transition: none;
      }
      .inner {
        width: 36px;
        height: 36px;
        position: absolute;
        background: linear-gradient(45deg, #ff9f00, #ff6600);
        border-radius: 50%;
        box-shadow: rgba(255, 102, 0, 0.4) 0 5px 15px;
        margin: -18px 0 0 -18px;
        top: 50%;
        left: 50%;
      }
    }
    &-text {
      position: relative;
      z-index: 2;
      font-weight: 500;
      transition: color 0.5s;
    }
  }
}
